<p>List or Delete PGP Keys</p>

<div>
	<form novalidate #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
        <div id="list">
        </div>
	    <div>
            <br>
            <textarea name="list_index" id="t_box" rows="1" cols="4" autofocus ngModel required>
            </textarea><br><br>
	        <button type="submit" [disabled]="userForm.invalid">DELETE</button>
	        <button type="button" (click)="resetUserForm(userForm)">Clear</button>
	    </div>
 	</form>
</div>
<p>To delete an item, enter the number in the box and click &apos;DELETE&apos;.</p>
